<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :title %>
  <%= form.text_field :title  %>
  <%= form.label :content %>
  <%= form.text_area :content, :size=>"100x5"  %>
  <%= form.label :deadline %>
  <%= form.date_field :deadline %>
  <%= form.label :status %>
  <%= form.select :status, Task.statuses.keys.map {|k| [t("enums.tasks.status.#{k}"), k]}, include_blank: "選択して下さい" %>
  <%= form.label :priority %>
  <%= form.select :priority, Task.priorities.keys.map {|k| [t("enums.tasks.priority.#{k}"), k]}, include_blank: "選択して下さい" %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
